body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}
#front,
#back {
  border-radius: 15px;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  border: 0.5px solid grey;
  background-color: white;
}
#front {
  /* background: url('../public/images/sample_card_front_1.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#front h1 {
  margin: 5%;
  top: 0;
  left: 0;
  user-select: none;
  position: absolute;
}
#front i#designation {
  margin: 5%;
  top: 48px;
  left: 0;
  user-select: none;
  position: absolute;
}
#front div#phone {
  margin: 5%;
  top: 112px;
  left: 0;
  /* border: 2px solid black; */
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#front div#email {
  margin: 5%;
  top: 140px;
  left: 0;
  /* border: 2px solid black; */
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#front img {
  width: 7.5rem;
  height: 7rem;
  aspect-ratio: 308 / 238;
  object-fit: contain;
  position: absolute;
  top: 80px;
  right: 8px;
}
#back {
  transform: rotateY(180deg);
  /* background: url('../public/images/sample_card_back_1.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#front svg {
  position: absolute;
  top: 5px;
  right: 5px;
}
#card-wrapper {
  width: 8.8cm;
  height: 5.4cm;
  perspective: 1000px;
}
#card {
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: transform 1s;
  height: 100%;
  width: 100%;
  position: relative;
}
.flip {
  transform: rotateY(180deg);
}
#showBtn {
  margin-top: 20px;
  background-color: blueviolet;
  border: none;
  border-radius: 10px;
  padding: 10px 5px;
  color: white;
}
#downloadBtn {
  margin-top: 20px;
  background-color: peru;
  border: none;
  border-radius: 10px;
  padding: 10px 5px;
  color: black;
}
#card-preview {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 99999999999;
}
@media (max-width: 1102px) {
  #card-preview {
    left: 0;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.material-symbols-outlined {
  margin-right: 5px;
  border-radius: 50%;
  background-color: black;
  padding: 3px;
  color: white;
  font-size: 12px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.moveable-control.moveable-direction.moveable-n.moveable-scalable, .moveable-control.moveable-direction.moveable-s.moveable-scalable, .moveable-control.moveable-direction.moveable-e.moveable-scalable, .moveable-control.moveable-direction.moveable-w.moveable-scalable {
  display: none;
}
.hide {
  display: none !important;
}
